.loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

.loader__image {
  width: 60px;
  animation: fadeIn 1.2s infinite cubic-bezier(0.08, 1.08, 0.52, 0.98);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}