h2 {
  margin:0;
}

.movies-container {
  padding: 20px 19px;
}

.movie-item {
  margin: 30px 0;
  padding: 18px 12px;
  border: 2px solid black;
  -webkit-box-shadow: 6px 6px 0px 1px rgba(0,0,0,1);
  -moz-box-shadow: 6px 6px 0px 1px rgba(0,0,0,1);
  box-shadow: 6px 6px 0px 1px rgba(0,0,0,1);
}

.movie-item__header {
  background-color: black;
}

.movie-item__title {
  padding-left: 4px;
  font-family: 'Playfair Display';
  color: white;
}

.movie-item__arrow {
  width: 24px;
  margin-right: 5px;
  transform: rotate(90deg);
  transition: all ease 0.5s;
}

.movie-item__arrow--up {
  transform: rotate(-90deg);
  transition: all ease 0.5s;
}

.movie-item__more {
  display: flex;
  justify-content: center;
}

.movie-item p:last-of-type {
  margin-bottom: 10px;  
}

.movie-item__plot {
  transition: all ease 0.5s;
}

@media screen and (min-width: 1200px) {
  .movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .movie-item {
    flex: 0 0 25%;
    margin: 20px;
    cursor: pointer;
    transition: all ease 0.2s;
    -webkit-box-shadow: 3px 3px 0px 1px rgba(0,0,0,1);
    -moz-box-shadow: 3px 3px 0px 1px rgba(0,0,0,1);
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,1);
  }
  .movie-item:hover {
    -webkit-box-shadow: 8px 8px 0px 1px rgba(0,0,0,1);
    -moz-box-shadow: 8px 8px 0px 1px rgba(0,0,0,1);
    box-shadow: 8px 8px 0px 1px rgba(0,0,0,1);
  }

  .movies-container {
    max-width: calc(75% + 80px);
    margin-left: auto;
    margin-right: auto;
  }
}