.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
  padding: 15px 10px;
  text-align: center;
  border: 2px solid black;
  -webkit-box-shadow: 6px 6px 0px 1px rgba(0,0,0,1);
  -moz-box-shadow: 6px 6px 0px 1px rgba(0,0,0,1);
  box-shadow: 6px 6px 0px 1px rgba(0,0,0,1);
}

.header__logo {
  width: 50px;
}

.header__title {
  margin: 0
}

.header--top {
  margin-top: -122px;
  transition: all ease 0.6s;
}

@media screen and (max-width: 992px) {
  .header {
    padding: 16px 10px;
  }
}
