.generic-error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    text-align: center;
}

.generic-error__img {
    width: 110px;
}