.search-bar {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  -webkit-box-shadow: 6px 6px 0px 1px rgba(0,0,0,1);
  -moz-box-shadow: 6px 6px 0px 1px rgba(0,0,0,1);
  box-shadow: 6px 6px 0px 1px rgba(0,0,0,1);
}

.search-bar p {
  padding-left: 12px;
}

.search-bar__input {
  width: 100%;
  padding: 14px 12px;
  border: none;
  font-size: 16px;
}

.search-bar__icon {
  width: 28px;
  margin-right: 25px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #424242;
}

@media screen and (min-width: 1200px) {
  .search-bar {
    cursor: pointer;
  }
}
